/var/log/nginx/*.log {
  daily
  rotate 30
  dateext
  missingok
  compress
  compresscmd /bin/bzip2
  compressoptions -9
  compressext .bz2
  delaycompress
  notifempty
  postrotate
    if [ -f /run/nginx.pid ]; then
        kill -USR1 `cat /run/nginx.pid`
    fi
  endscript
}
